Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-environ
shortuuid
django-jazzmin
python-dotenv
Pillow
django-filter
django-crispy-forms
crispy-bootstrap4
psycopg2-binary
gunicorn